[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyopencl = {path = "./pyopencl"}
numpy = "*"
h5py = "*"
matplotlib = "*"
ipyparallel = "*"
numexpr = "*"
sympy = "*"
Cython = "*"
Mako = "*"
pyFFTW = "*"
PyQt5 = "<5.13"

[requires]
python_version = "3.8"
